<div class="nav-header">
    <h1>SlogEngine.WebAssembly</h1>
</div>

<div class="nav-menu">
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span>🏠</span> Home
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="counter">
            <span>➕</span> Counter
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="blog">
            <span>📝</span> Blog
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="weather">
            <span>🌤️</span> Weather
        </NavLink>
    </div>
</div>
